package steps

import (
	"context"
	"fmt"

	"github.com/galgotech/heddle-lang/sdk/go/plugin"

	"{{.ModName}}/config"
)

func PrintMessage(ctx context.Context, cfg config.HelloConfig, input *plugin.VoidFrame, output *plugin.VoidFrame) error {
	fmt.Printf("%s\n", cfg.Message)
	return nil
}
